-if user_signed_in?
  -question = current_user.question
  -if question.present?
    .polls{'data-id' => question.id}
      -if question.present?
        %h2 Poll:#{question.title}
        %p=question.description

        -if question.body.match(";")
          -answers = question.body.split(";")
          =form_for current_user.answers.new, :remote => true do |f|
            =f.hidden_field :question_id, :value => question.id
            %ul
              -answers.each do |answer|
                = answer_list_item(f, answer).html_safe
            =f.submit "Vote", :class => "small_button"
  -else
    .polls
      %h2 Polls
      Please watch the statistics

-else
  .polls
    %h2 Polls
    Please
    %a{:href => "#", "data-reveal-id" => "LoginModal"} sign in
    , baby!

