%p May The Force Be With You!
%br
Best regards,
%br
Rails School,
= link_to root_url, root_url

- if @user.unsubscribe_token.present?
  %p
    = link_to "Unsubscribe immediately", lesson_unsubscribe_url(code: @user.unsubscribe_token)
