<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>We added a new class on <%= @lesson.date %></h1>
<p>
  <%= @lesson.title %>
</p>
<p>
  <%= @lesson.description %>
</p>
<p>May The Force Be With You!</p>
<p>Unsubscribe link here</p>
</body>
</html>