= link_to user_path(user) do
  %li
    =image_tag Gravatar.new(user.email).image_url(size: 40, secure: true), class: "avatar"
    %span= display_name(user)
    - if defined? lesson
      - if user_signed_in?
        - if current_user.teacher?
          - if user.completed_codewar_for_lesson(lesson)
            %span.star
              &#9733;
