=ceditable("team title", "h1")


.member
  .pic-wrap
    =image_tag('gabe.jpg')
  =ceditable("gabe name", "h1")
  =ceditable("about gabe", "p")

.member
  .pic-wrap
    =image_tag('greg.jpg')
  =ceditable("greg name", "h1")
  =ceditable("about greg", "p")

.member
  .pic-wrap
    =image_tag('mike.jpg')
  =ceditable("mike name", "h1")
  =ceditable("about mike", "p")

.member.you
  .pic-wrap
    %h1
      Try it!
  =ceditable("your name", "h1")
  =ceditable("about you", "p")

