- if resource.errors.any?
  #error_explanation
    %h2= "#{pluralize(resource.errors.count, "error")} prohibited this #{resource.class.name.downcase} from being saved:"
    %ul
      - resource.errors.full_messages.each do |msg|
        %li= msg
