.slogan
  .white
    Want to learn
    %span.red
      Ruby on Rails
    in the city?
  .white
    Come join us for free.
    %span.red
      No fees, no charges, no tricks.
  .white
    Just having fun learning and socializing together!
  .register
    - unless current_user
      %a.ruby-button{href: new_user_registration_path}
        Register
    %a.link{:href => "/about"}
      Learn More About Us
