= provide(:title, 'About us')

%h1 About Rails School

%p
  Rails School is a weekly seminar and workshop for learning everything about Ruby, Rails, and web application development.

%h2 San Francisco, CA

%p
  We operate in San Francisco with the generous support of
  = link_to 'Noisebridge', 'https://www.noisebridge.net/wiki/Noisebridge'
  hackerspace.  If you like what we do, please consider
  = link_to 'making a donation', 'https://www.noisebridge.net/wiki/Donate_or_Pay_Dues'
  to Noisebridge, a 501(c)(3) nonprofit organization.

.member
  .pic-wrap
    =image_tag('gabe.jpg')
  %h1 Gabe Kopley
  %p Teacher and Organizer

.member
  .pic-wrap
    =image_tag('greg.jpg')
  %h1 Greg Lazarev
  %p Teacher

.member
  .pic-wrap
    =image_tag('mike.jpg')
  %h1 Michael Makarov
  %p Teacher

.member
  .pic-wrap
    =image_tag('sameer.jpg')
  %h1 Sameer Siruguri
  %p Teacher

.member
  .pic-wrap
    =image_tag('brad.jpg')
  %h1 Brad Johnson
  %p Teacher

%h2 Charlottesville, VA

.member
  .pic-wrap
    =image_tag('ben.png')
  %h1 Ben Taitelbaum
  %p Teacher and Organizer
