= provide(:title, 'About us')

= ceditable("about title", "h1")
-#= ceditable("about text", "p")

%p
  Rails School is a weekly seminar and workshop for learning everything about Ruby, Rails, and web application development.

%p
  We operate in San Francisco with the generous support of
  = link_to 'Noisebridge', 'https://www.noisebridge.net/wiki/Noisebridge'
  hackerspace.  If you like what we do, please consider
  = link_to 'making a donation', 'https://www.noisebridge.net/wiki/Donate_or_Pay_Dues'
  to Noisebridge, a 501(c)(3) nonprofit organization.

-#= render "social_media/like_box"

=render "users/team"
