-provide :left_column do
  .past
    %h2 Past Workshops
    =render :partial => "lessons/past_lessons", :locals => {:lessons => past_lessons}
  =render :partial => "questions/poll"

=render :partial => "lessons/announce", :locals => {:lesson => past_lessons.first}
=render :partial => "lessons/future_lessons", :locals => {:lessons => past_lessons}

=render :partial => "home/slogan"

-provide :right_column do
  =render :partial => "lessons/calendar", :locals => {:lesson => Lesson.all}

