-if url.present?
  .fb-like{"data-colorscheme" => "light", "data-href" => url, "data-send" => "false", "data-show-faces" => "false", "data-width" => "100"}
-else
  .fb-like{"data-colorscheme" => "light", "data-href" => "", "data-send" => "false", "data-show-faces" => "false", "data-width" => "100"}