%meta{:content => "Rails School #{current_school.name}", :property => "og:title"}/
%meta{:content => "website", :property => "og:type"}/
%meta{:content => "http://www.railsschool.org", :property => "og:url"}/
%meta{:content => "http://www.railsschool.org/assets/logo.png", :property => "og:image"}/
%meta{:content => "www.railsschool.org", :property => "og:site_name"}/
%meta{:content => "100000245725293", :property => "fb:admins"}/
%meta{:content => "442490832470487", :property => "fb:app_id"}/
%meta{:content => "Rails School in #{current_school.name} - free workshops and lessons", :property => "og:description"}/