%meta{:content => "Rails School San Francisco", :property => "og:title"}/
%meta{:content => "website", :property => "og:type"}/
%meta{:content => "http://RailsSchool.org", :property => "og:url"}/
%meta{:content => "http://railsschool.org/assets/logo.png", :property => "og:image"}/
%meta{:content => "RailsSchool.org", :property => "og:site_name"}/
%meta{:content => "100000245725293", :property => "fb:admins"}/
%meta{:content => "442490832470487", :property => "fb:app_id"}/
%meta{:content => "Rails School in San Francisco - free workshops and lessons", :property => "og:description"}/