.text
  .date
    Next Workshop /
    =lesson.date.try(:strftime, "%d.%m.%y") if lesson.present?
  %h1=lesson.title
  .description
    =lesson.description
  -if main_page == true
    .view
      =link_to 'View class Details', lesson.url
  -else
    %br
    %br
  .details
    Date:
    =lesson.date.try(:strftime, "%d.%m.%y")
    Time:
    =lesson.date.try(:strftime, "%I%p")
    %br
    Location:
    -if lesson.place.present?
      =lesson.place.address
      =lesson.place.city
      =link_to "(map)", lesson.place


    %br
  =render :partial => "attendances/rsvp", :locals => {:lesson => lesson}


.image
  .img-wrap
    .img

