.announce
  .text
    .date
      Next Workshop / 11.12.2012
    %h1=lesson.title
    .description
      =lesson.description
    .view
      View class Details
    .details
      Free Course / Tuesdays Nov 12th, 7pm-9pm
      %br
      in the Facebook’s Church room (map).
      %br
    .rsvp{'data-id' => lesson.id}
      %a.a_button{:href => "#", 'data-reveal-id' => 'LoginModal'}
        RSVP!
      5 people are going (on the way)


  .image
    .img-wrap
      .img

