.announce
  .text
    .date
      Next Workshop / 11.12.2012
    %h1=lesson.title
    .description
      =lesson.description
    .view
      View class Details
    .details
      Free Course / Tuesdays Nov 12th, 7pm-9pm
      %br
      in the Facebook’s Church room (map).
  .image
