-month=Date.current.month
-year=Date.current.year

-next_month = (month == 12) ? 1 : month + 1
-if !lessons_between?(Date.current.day, Date.civil(year, month, -1).day) && |
  future_lessons_between?(1, (Date.civil(year, next_month, -1)).day) |
  -month = (Date.current + 1.month).month

-startweekday = Date.civil(year,month,1).strftime("%u").to_i
-startweekday = 0 if startweekday.to_i > 6
-lastday = Date.civil(year,month,-1).day.to_i
-d = -1

-# Number of weeks to print
-weeks_in_month = 1 + ((lastday - (7 - startweekday)).to_f/7).ceil

.calendar_wrap

  %h1
    Events in
    %span.red_color
      =Date.civil(year,month,1).strftime("%B").upcase

  .calendar

    %ul.names
      -7.times do |day|
        %li
          -weekday = Date::DAYNAMES[day]
          =weekday[0..2].capitalize

    -weeks_in_month.times do |week|
      %ul
        -7.times do |day|
          %li
            -if startweekday == day
              -startweekday = -1
              -d = 0
            -if d >= 0 && d < lastday
              -d += 1
              - if (lesson = calendar_lesson(d, month))
                %a.event{:href => lesson_path(lesson), :title => lesson.title}
                  =d
              -else
                =d
