%ul.lessons_list
  -lessons.each do |l|
    %li
      .info
        .date
          =l.date.try(:strftime, "%d.%m.%y")
        .text
          =link_to l.title, l.url
        .expand
          %a.expand_lesson{:href => "#", "data-lesson" => l.id} Expand

      .details{"data-lesson" => l.id}
        =l.description
        %br
        %br
        %b Address:
        =link_to l.place.name, l.place
        =l.place.address
        =l.place.city
        =link_to '(map)', l.place
        =render :partial => "attendances/rsvp", :locals => {:lesson => l}
        -if admin?
          %td= link_to 'Show', l
          %td= link_to 'Edit', edit_lesson_path(l)
          %td= link_to 'Destroy', l, method: :delete, data: { confirm: 'Are you sure?' }



