.future-events
  %h2 Upcoming Free Workshops
  %ul
    -lessons.each do |l|
      %li
        .date
          =l.date.strftime("%d.%m.%y")
        .text
          =link_to l.title, l.url
        .expand
          Expand
