= provide(:title, 'All events')

-provide :left_column do
  =render :partial => "polls/poll"

%h1 All lessons

=render :partial => "lessons/future_lessons", :locals => {:lessons => @lessons}

%br

-if admin?
  = link_to 'New Lesson', new_lesson_path
