= provide(:title, 'All events')

-provide :left_column do
  -poll = user_signed_in? ? current_user.next_unanswered_poll : nil
  =render "polls/poll", :poll => poll, :previous_poll => nil

%div{'ng-app' => 'RailsSchool'}

  %h1 All lessons

  %div{'ng-view' => 'ng-view'}
    =render "lessons/future_lessons", :lessons => @lessons

  :javascript
    window.lessons = #{@lessons.to_json};

  -if user_signed_in?
    :javascript
      window.current_user = #{current_user.to_json(:only => [:name, :admin], :include => {:lessons => {:only => :id}})};



  %br
  -if admin?
    = link_to 'New Lesson', new_lesson_path
