%h1 All lessons

=render :partial => "lessons/future_lessons", :locals => {:lessons => @lessons}

-if admin?
  %td= link_to 'Show', lesson
  %td= link_to 'Edit', edit_lesson_path(lesson)
  %td= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' }

%br

-if admin?
  = link_to 'New Lesson', new_lesson_path
