= provide(:title, @title)

-provide :left_column do
  -poll = user_signed_in? ? current_user.next_unanswered_poll : nil
  =render "polls/poll", :poll => poll, :previous_poll => nil

%h1= @title

=render "lessons/future_lessons", :lessons => @lessons

%br

-if admin?
  = link_to 'New Lesson', new_lesson_path
