.ruby-button {
  width:147px;
  height:52px;
  background: image-url("buttons.png");
  cursor:pointer;
  display:inline-block;
  font-size:30px;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.9);
  color:white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align:center;
  padding-top:7px;
  border:none;
  font-weight:normal;
  -webkit-appearance: none;
  //white-space: pre;
  outline: none;
  line-height:30px;
  &:focus {
    font-weight:normal;
    outline: none !important;
  }
  &:hover {
    opacity:0.9;
    color:white;
    text-decoration: none;
  }
  &:active {
    background-position: left -58px;
    padding-top:9px;
  }

  &.pressed {
    padding-top:9px;
    background-position: left 52px;

  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &[type="submit"] {
    padding-top:0px;
    font-weight: normal;
  }
}


.small_button {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: normal;
  font-size:16px;
  color:white;
  background:#093b4d;
  border-radius:10px;
  padding: 5px 25px;
  user-select: none;
  border:none;
  -webkit-appearance: none;
  //white-space: pre;
  outline: none;
  cursor:pointer;

  &:focus {
    font-weight:normal;
    outline: none !important;
  }
  &:hover {
    background:#082b3d;
  }
  -webkit-transition: all 0.3s ease-out;  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-out;  /* Opera 10.5–12.00 */
  transition: all 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */

}
