.head {
  overflow:hidden;
}


.lessons_list {
  .info {
    overflow:hidden;
    &:after {
      clear:both;
    }
  }
  .details {
    margin-top:20px;
    margin-bottom:20px;
    padding:20px;
    // border-top: 1px solid gray;
    // border-bottom: 1px solid gray;
    overflow:hidden;
    display:none;
    background:white;
  }
}

.lesson_details {
  padding-bottom:0px;
  //overflow:hidden;
}

.star {
  float: right;
  line-height: 37px;
}