.polls {
  ul {
    list-style-type: none;
    li {
      margin-top:5px;
    }
    margin-bottom:20px;
  }
}

.poll-result {
  margin:10px;
  margin-left:14px;
  background:rgba(0,0,0,0.2);
  padding:10px;
  border-radius:5px;
}