.member {
  overflow:hidden;
  padding-bottom:20px;
  .pic-wrap {
    padding:5px;
    border:1px solid #e8e8e8;
    width:140px;
    height:140px;
    float:left;
    margin-right:20px;
  }

  &:after {
    clear:both;
  }


}

.you {
  .pic-wrap {
    background:white;
    h1 {
      text-align: center;
      margin-top:30px;
    }

  }
}