#LoginModal.reveal-modal{:class => "small", style: "display: none;"}

  %h2 Sign in
  %form#new_user.new_user{"accept-charset" => "UTF-8", :action => "/users/sign_in", :method => "post"}
    %div{:style => "margin:0;padding:0;display:inline"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}
        %input{:name => "authenticity_token", :type => "hidden", :value => "sG1jXNsXVyt+nxiYop/3C2ZTq8NzlBPV3Vh9Ao/d5Ts="}/
        %input{name: "rsvp_for", type: "hidden"}
        %input{name: "user_return_to", type: "hidden", value: request.fullpath}

    %div
      %label{:for => "user_email"} Email
      %br
        %input#user_email{:name => "user[email]", :size => "30", :type => "email", :value => ""}/
    %div
      %label{:for => "user_password"} Password
      %br
        %input#user_password{:name => "user[password]", :size => "30", :type => "password"}/
    %div
      %input{:name => "user[remember_me]", :type => "hidden", :value => "0"}
        %input#user_remember_me{:name => "user[remember_me]", :type => "checkbox", :value => "1", checked: true}
          %label{:for => "user_remember_me"} Remember me
    %div
      %input.ruby-button{:name => "commit", :type => "submit", :value => "Sign in"}/
  %a{:href => "/users/sign_up"} Sign up
  %br
    %a{:href => "/users/password/new"} Forgot your password?
    %br


  %a.close-reveal-modal ×
