.header
  .flag
    some text
  .menu-block
    %ul.menu
      %li
        %a{:href => "#"} About
      %li
        %a{:href => "#"} Workshop
      %li
        %a{:href => "#"} Forum
      %li
        %a{:href => "#"} Group Events
      %li
        %a{:href => "#"} Calendar
      %li
        %a{:href => "#"} Contact