.header
  %a.flag{:href => root_url}
    .school= current_school.name
  .menu-block
    %ul.menu
      = render partial: "layouts/school_select_menu_item"
      %li
        %a{:href => "/about"} About
      %li
        %a{:href => lessons_url(school: current_school.slug)} All events
      %li
        %a{:href => "/faq"} FAQ
      %li
        %a{:href => "/contact"} Contact

      -if user_signed_in?
        %li.right
          =link_to 'Logout', destroy_user_session_path, :method => :delete
        %li.right
          =link_to current_user.name, current_user
      -else
        %li.right
          =link_to 'Sign up', '/users/sign_up'
        %li.right
          %a{:href => new_user_session_path, 'data-reveal-id' => "LoginModal"} Login
