.header
  %a.flag{:href => root_url}
  .menu-block
    %ul.menu
      %li
        %a{:href => "/about"} About
      %li
        %a{:href => lessons_url} All events
      %li
        %a{:href => "#"} Calendar
      %li
        %a{:href => "/contact"} Contact

      -if user_signed_in?
        %li.right
          =link_to 'Logout', destroy_user_session_path, :method => :delete
      -else
        %li.right
          =link_to 'Sign up', '/users/sign_up'
        %li.right
          %a{:href => "about", 'data-reveal-id' => "LoginModal"} Login
